{# pihole hashes the password two times with sha256... see /opt/pihole/webpage.sh #}
WEBPASSWORD={{ pihole_web_password | hash('sha256') | hash('sha256') }}
ADMIN_EMAIL=
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=default-dark
DNSSEC=false
REV_SERVER=false
BLOCKING_ENABLED=true
PIHOLE_INTERFACE=
IPV4_ADDRESS=0.0.0.0/24
PIHOLE_DNS_1={{pihole_dns_1}}
PIHOLE_DNS_2={{pihole_dns_2 | default('')}}
{% if pihole_dns_3 is defined %}
PIHOLE_DNS_3={{pihole_dns_3}}
{% endif %}
{% if pihole_dns_4 is defined %}
PIHOLE_DNS_4={{pihole_dns_4}}
{% endif %}
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=all
TEMPERATUREUNIT=C
