{% extends "backup-base.j2" %}
{% block content%}
job="{{ item.name | default(item.src) | replace('/', '-') | trim('-') }}"
out=$(op run -- duplicity \
{% if ob_key_id is defined %}  --encrypt-sign-key "{{ob_key_id}}" \
{% endif %}
  --full-if-older-than 1M \
  "{{item.src}}" \
  "{{ob_backend_base_url}}/{{ansible_facts.fqdn}}{{item.src}}")

backup_code=$?

if hash duplicity_prometheus.py 2> /dev/null && [ -d "/var/lib/prometheus/node-exporter" ]; then
  echo "$out" | duplicity_prometheus.py --source "{{item.src}}" | sponge "/var/lib/prometheus/node-exporter/duplicity_$job.prom"
fi

if [ $backup_code -gt 0 ]; then
  echo "Problem backing up: {{ item.src }}"
  echo
  echo "$out"
fi

out=$(op run -- duplicity \
{% if ob_key_id is defined %}  --encrypt-sign-key "{{ob_key_id}}" \
{% endif %}
  remove-older-than 1M \
  --force \
  "{{ob_backend_base_url}}/{{ansible_facts.fqdn}}{{item.src}}")

cleanup_code=$?

if [ $cleanup_code -gt 0 ]; then
  echo "Problem cleaning up: {{ item.src }}"
  echo
  echo "$out"
fi
{% endblock %}
