// https://github.com/mvo5/unattended-upgrades/blob/master/README.md#supported-options-reference

// to check against repos: apt-cache policy
Unattended-Upgrade::Origins-Pattern {
        "o=${distro_id},n=${distro_codename}";
        "o=${distro_id},n=${distro_codename}-security";
        "o=${distro_id},n=${distro_codename}-updates";
{% for pattern in auto_upgrades_additional_origins_pattern | default([]) %}
        "{{pattern}}"
{% endfor %}
}

Unattended-Upgrade::Mail "{{auto_upgrade_mail}}";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Automatic-Reboot "true";

// If automatic reboot is enabled and needed, reboot at the specific
// time instead of immediately
//  Default: "now"
//Unattended-Upgrade::Automatic-Reboot-Time "02:00";
